/*Section1*/
body {
  overflow: auto;
}

::-webkit-scrollbar {
  display: none;
}
/* ============= Animation background ========= */
.background {
  /*background: linear-gradient(132deg, #7b222e, #591BC5, #212335);*/
  background-image: linear-gradient(to right, #8360c3, #2ebf91);
  animation: Gradient 15s ease infinite;
  height: 100vh;
  padding: 0;
  margin: 0px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
}

.cube {
  position: absolute;
  top: 80vh;
  left: 45vw;
  width: 10px;
  height: 10px;
  border: solid 1px #D7D4E4;
  transform-origin: top left;
  transform: scale(0) rotate(0deg) translate(-50%, -50%);
  animation: cube 12s ease-in forwards infinite;
}

.cube:nth-child(2n) {
  border-color: #FFF;
}

.cube:nth-child(2) {
  animation-delay: 2s;
  left: 25vw;
  top: 40vh;
}

.cube:nth-child(3) {
  animation-delay: 4s;
  left: 75vw;
  top: 50vh;
}

.cube:nth-child(4) {
  animation-delay: 6s;
  left: 90vw;
  top: 10vh;
}

.cube:nth-child(5) {
  animation-delay: 8s;
  left: 10vw;
  top: 85vh;
}

.cube:nth-child(6) {
  animation-delay: 10s;
  left: 50vw;
  top: 10vh;
}


/* Animate Background*/
@keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@keyframes cube {
  from {
    transform: scale(0) rotate(0deg) translate(-50%, -50%);
    opacity: 1;
  }

  to {
    transform: scale(20) rotate(960deg) translate(-50%, -50%);
    opacity: 0;
  }
}

/* Header content & title & button*/
.no-click, #texttb {
  cursor: text;
  text-decoration: none;
}

.container-fluid .wel {
  text-transform: uppercase;
  font-size: 3em;
  letter-spacing: 1px;
}

.container-fluid .hero_title,
.hero_desc {
  font-size: 40px;
  line-height: 1.5;
  margin: 20px auto;
}
.hero_title{
  /*background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);*/
  background: linear-gradient(to left, lime 28px, red 77%, cyan);

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.container-fluid .kls {
  width: 140px;
  margin: 20px 10px;
  color: #591BC5;
  font-size: 17px;
  border: 1px solid #EFEEF5;
  font-weight: 500;
  background: #EFEEF5;
  border-radius: 20px;
  padding: 10px;
  cursor: pointer;
  transition: .3s;
}

.container-fluid .kls:hover {
  border-radius: 0;
}

/*Software Developer Text effect and animation*/
/*@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');


.container-fluid .hero_desc {
  border-right: solid 3px rgba(0, 191, 255, 0.75);
  white-space: nowrap;
  overflow: hidden;
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
  color: rgba(255, 255, 255, .70);
}

.container-fluid .hero_desc {
  animation: animated-text 4.5s steps(29, end) 1s 1 normal both,
    animated-cursor 650ms steps(29, end) 5s 1 normal both;
}

@keyframes animated-text {
  from {
    width: 0;
  }

  to {
    width: 472px;
  }
}

/* cursor animations */

/*@keyframes animated-cursor {
  from {
    border-right-color: rgba(21, 140, 209, 0.75);
  }

  to {
    border-right-color: transparent;
  }
}*/

@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');

.container-fluid .hero_desc {
  border-right: solid 3px rgba(0, 191, 255, 0.75);
  white-space: nowrap;
  overflow: hidden;
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
  color: rgba(255, 255, 255, .70);
  width: 472px; /* Set a default width for the animation */
}

.container-fluid .hero_desc {
  animation: animated-text 4s steps(29, end) 1s 1 normal both,
             animated-cursor 650ms steps(29, end) 1s 1 normal both;
}

@keyframes animated-text {
  from {
    width: 0;
  }
  to {
    width: 100%; /* Change width to 100% */
  }
}

/* cursor animations */
@keyframes animated-cursor {
  from {
    border-right-color: rgba(21, 140, 209, 0.75);
  }
  to {
    border-right-color: transparent;
  }
}

/* Responsive styles */
@media (max-width: 768px) {
  .container-fluid .hero_desc {
    font-size: 30px; /* Adjust font size for smaller screens */
    width: 90%; /* Use a percentage width instead of fixed width */
  }
}


/* text css above hero image*/
.hero_title {
  font-size: 4.5rem;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(0, 0, 0);
}


/*Section2*/
.imageAboutPage {
  width: 100%;
}

#abttext {
  color: rgb(0, 0, 0);
  font-size: large;
  text-align: justify;
}

#abtalign {
  text-align: center;
}

/*Buttons effect*/
/*Resume button effect*/
.button {
  --width: 100px;
  --height: 35px;
  --tooltip-height: 35px;
  --tooltip-width: 90px;
  --gap-between-tooltip-to-button: 18px;
  --button-color: #2ba8fb;
  --tooltip-color: #fff;
  width: var(--width);
  height: var(--height);
  background: var(--button-color);
  position: relative;
  text-align: center;
  border-radius: 0.45em;
  font-family: inherit;
  transition: background 0.3s;
}

.button::before {
  position: absolute;
  content: attr(data-tooltip);
  width: var(--tooltip-width);
  height: var(--tooltip-height);
  background-color: var(--tooltip-color);
  font-size: 0.9rem;
  color: #111;
  border-radius: .25em;
  line-height: var(--tooltip-height);
  bottom: calc(var(--height) + var(--gap-between-tooltip-to-button) + 10px);
  left: calc(50% - var(--tooltip-width) / 2);
}

.button::after {
  position: absolute;
  content: '';
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-top-color: var(--tooltip-color);
  left: calc(50% - 10px);
  bottom: calc(100% + var(--gap-between-tooltip-to-button) - 10px);
}

.button::after,
.button::before {
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s;
}

.text {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-wrapper,
.text,
.icon {
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  color: #fff;
}

.text {
  top: 0
}

.text,
.icon {
  transition: top 0.5s;
}

.icon {
  color: #fff;
  top: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon svg {
  width: 24px;
  height: 24px;
}

.button:hover {
  background: #2ba8fb;
}

.button:hover .text {
  top: -100%;
}

.button:hover .icon {
  top: 0;
}

.button:hover:before,
.button:hover:after {
  opacity: 1;
  visibility: visible;
}

.button:hover:after {
  bottom: calc(var(--height) + var(--gap-between-tooltip-to-button) - 10px);
}

.button:hover:before {
  bottom: calc(var(--height) + var(--gap-between-tooltip-to-button));
}



/*Resume video button effect*/
#resume-button {
  border: 0;
  border-radius: 10px;
  width: 10em;
  height: 35px;
  background-color: #2ba8fb;
  color: #ffffff;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}

#resume-button:hover {
  background-color: #6fc5ff;
  box-shadow: 0 0 20px #6fc5ff50;
  transform: scale(1.1);
}

#resume-button:active {
  background-color: #3d94cf;
  transition: all 0.25s;
  -webkit-transition: all 0.25s;
  box-shadow: none;
  transform: scale(0.98);
}

.bkn {
  width: 7em;
  height: 3em;
  border-radius: 30em;
  font-size: 15px;
  font-family: inherit;
  border: none;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  z-index: 1;
  box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
}

.bkn::before {
  content: '';
  width: 0;
  height: 3em;
  border-radius: 30em;
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(to right, #0f98d8 0%, #f9f047 100%);
  transition: width .5s ease;
  display: block;
  z-index: -1;
}

.bkn:hover::before {
  width: 9em;
}

/*Video*/
#video-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  display: none;
}

#video-player {
  width: 640px;
  height: 360px;
}

.close-icon {
  position: absolute;
  top: 1px;
  right: 10px;
  font-size: 14px;
  background-color: #070606;
  cursor: pointer;
}

/*Section3*/

#card-row {
  display: flex;
  justify-content: space-between;
}

.card {
  height: 100%;
  transition: background-color 0.3s ease;
}

.card:hover {
  background-color: #f0f0f0;
}

#txtcard {
  text-align: justify;
}

#iconint {
  font-size: 36px;
  text-align: center;
  width: 100%;
}

.card:hover #iconint {
  color: #008000;
}

.card-title {
  text-align: center;
}


/*Section4*/

.styled-table {
  border-collapse: collapse;
  margin: 20px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 250px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);

}

.styled-table thead tr {
  background-color: #009879;
  color: #ffffff;
  text-align: left;
}

.styled-table td {

  padding: 8px 12px;
  vertical-align: middle;
}

.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
  border-bottom: 1px solid #4e96f3;
}

.styled-table tbody tr.active-row {
  font-weight: bold;
  color: #009879;
}

/*Section5*/
#prohead {
  text-align: center;
}

#prolist {
  margin-left: 30px;
  font-size: 18px;
  text-align: justify;
}

#playicon {
  font-size: 25px;
}

/*Icons color*/
.fab {
  color: #000000;
}

#texttb{
  color: #000000;
}

/*Section6*/
#senquery {
  text-align: center;
}

#maticoncontact {
  font-size: 30px;
  text-align: left;
  width: 100%;
}
/* footer styling */
#footer {

  text-align: center;
}

/* social media icons styling */
.social-icons {
  font-size: 36px;
  cursor: pointer;
}

.fa-instagram:hover,
.fa-twitter:hover,
.fa-linkedin:hover,
.fa-hackerrank:hover,
.fa-github:hover,
.fa-leetcode:hover,
#play:hover {
  color: #008000;
}

.fa-instagram,
.fa-twitter,
.fa-linkedin,
.fa-hackerrank,
.fa-github,
.fa-leetcode {
  font-size: 35px;
}



/* spacing on all sections */
#about,
#interests,
#skills,
#projects,
#contact {
  margin-top: 4rem;
  padding-top: 4rem;
}

#contact {
  padding-bottom: 4rem;
}
